/.metadata/
dependency-reduced-pom.xml
.project
target/

report/*.aux
report/*.fdb_latexmk
report/*.fls
report/*.log
report/*.toc
report/*.synctex.gz
report/*.tex.bak
report/*.out

script/*.txt
script/*.geojson

_minted-ilp-report
